<h1 class="text-gray-600 font-bold text-xl">My Collections</h1>

<% @collections.each do |collection|%>
  <div class="text-2xl text-gray-800 w-4/5 "><%=link_to collection.name, collection_path(collection) %></div>
<% end %>
