<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1 class="p-5 bg-indigo-400 rouded-xl w-2/5">Hello World</h1>



<%= link_to "add a new collection",  new_collection_path %>
<%= link_to "my collection",  collections_path %>