<div class="banner flex w-screen h-screen">
  <div class="bg-gradient-to-br bg-no-repeat bg-cover w-full h-full" style="background-image:url('<%= image_path('home-bg.jpeg') %> ')"></div>
</div>

<div class="display-items flex flex-col bg-gray-200 w-full h-96 mt-4">
  <div class="display-info flex flex-row justify-between">
    <div class="mx-2">38 items for sale</div>
    <div class="mx-2">filter from lowest price</div>
  </div>

  <div class="cards flex">
    <div class="card w-40 h-64 bg-white rounded-2xl m-2">

    </div>
  </div>

</div>
