
<div class="relative w-full grid">
  <div class="absolute top-14 left-20 font-sans text-gray-600 font-medium">
    <%= link_to "< Back ", collections_path%>
  <div>

  <div>
    <%= link_to " Buy > ",  collection_item_transactions_path(@collection_id, @item), method: :post %>
  </div>
<div>

